body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Courier New', Courier, monospace
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.car-card {
  float: center;
  width: auto;
  height: auto;
  background-color:gold;
  color: black;
  margin:15px;
  text-align: center;
}

#new-listing-form {
  float: center;
  width: auto;
  height: auto;
  background-color:gold;
  color: black;
  margin:15px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
  position: fixed; 
  bottom: 0; 
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 500px;
  height: auto;
}